@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei", sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei", sans-serif;
    font-weight: bold;
    color: #111;
    margin-top: 1.5em;
}

h1 {
    font-size: 2em;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.2em;
}

a {
    color: #d00;
    text-decoration: none;
    border-bottom: 1px dotted #d00;
}

a:hover {
    border-bottom-style: solid;
}

/* 首页列表样式 */
ul.post-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul.post-list li {
    margin-bottom: 0.5em;
    display: flex;
    align-items: baseline;
}

.post-date {
    font-family: "Source Code Pro", "Courier New", monospace;
    color: #555;
    margin-right: 1.5em;
    font-size: 0.9em;
    min-width: 100px; /* 确保日期对齐 */
    flex-shrink: 0;
}

.category-section h2 {
    font-size: 1.2em;
    margin-top: 2em;
    border-bottom: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
}

/* 文章详情页 */
.post-header {
    margin-bottom: 2em;
}

.post-header h1 {
    margin-bottom: 0.2em;
    border-bottom: none;
}

.meta {
    color: #888;
    font-size: 0.9em;
    font-family: "Source Code Pro", monospace;
}

.post-content img {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid #eee;
    padding-left: 1em;
    color: #666;
    margin-left: 0;
}

code {
    font-family: "Source Code Pro", "Courier New", monospace;
    background: #f8f8f8;
    padding: 2px 4px;
    font-size: 0.9em;
}

pre {
    background: #f8f8f8;
    padding: 1em;
    overflow-x: auto;
    border-radius: 2px;
}

pre code {
    background: none;
    padding: 0;
}

footer {
    margin-top: 4em;
    border-top: 1px solid #eee;
    padding-top: 1em;
    text-align: center;
    font-size: 0.9em;
    color: #999;
}

.back-link {
    color: #999;
    border: none;
}
.back-link:hover {
    color: #d00;
}